node_modules
vendor
.git
storage/logs
.env
.env.*
!.env.example
database/database.sqlite
tests
storage/logs/*
bootstrap/cache/*.php
storage/framework/views/*.php
storage/framework/cache/data/*
storage/framework/sessions/*
node_modules