APP_NAME=TokoKu
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=
DB_PASSWORD=
DB_SSLMODE=require
DB_EMULATE_PREPARES=true

SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
CACHE_STORE=database
QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=log

REDIS_CLIENT=predis
REDIS_SCHEME=tls
REDIS_HOST=
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_DB=0

MAIL_MAILER=log
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=TokoKu

FILESYSTEM_DISK=supabase_avatars
SUPABASE_S3_KEY=
SUPABASE_S3_SECRET=
SUPABASE_S3_REGION=ap-southeast-1
SUPABASE_S3_ENDPOINT=
SUPABASE_AVATARS_URL=